<!-- Header -->
<%- include('includes/_header') %>
<!-- /Header -->

<!-- Main Section -->
<main id="main">
	<div class="title">
		<span class="one">General</span>
		<span class="two"
			>user<br />
			management system</span
		>
	</div>
	<div class="subtext">
		A simple application intended to demonstrate CRUD <br />
		operations through user management. Key processes <br />include Create,
		Read, Update and Delete
	</div>
	<div class="btn">
		<button class="button" onclick="document.location='/add-user'">
			<i class="bx bx-plus bx-xs"></i>
			New user
		</button>
	</div>

	<div class="cont">
		<% users.forEach(function(user) { %>
		<div class="card">
			<!-- icon -->
			<div class="icon-layout">
				<object
					data="./assets/user_icon.svg"
					width="28"
					height="28"
				></object>
			</div>
			<div class="det-cont">
				<!-- user-details -->
				<div class="user-details">
					<h5 class="name"><%= user.name %></h5>
					<div class="text"><%= user.email %></div>
					<div class="text"><%= user.gender %></div>
					<div class="text"><%= user.status %></div>
				</div>
				<div class="icons-action">
					<a href="/update-user/<%= user.id %>" class="anchor">
						<img src="./assets/edit.svg" alt="edit" />
					</a>

					<a class="anchor delete" data-id="<%= user.id %>">
						<img src="./assets/delete.svg" alt="delete" />
					</a>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</main>
<!-- /Main Section -->

<script src="/js/index.js"></script>
<!-- Footer -->
<%- include('includes/_footer') %>
<!-- /Footer -->
